.wrapper {
  margin: 140px 0;

  .title {
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    text-align: center;
  }

  .users {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    margin-top: 50px;

    .user {
      max-width: 370px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      background: white;
      padding: 20px 0;

      .userImg {
        height: 70px;
        margin-bottom: 20px;

        img {
          width: 70px;
          height: 70px;
          border-radius: 70px;
        }
      }

      .userName {
        padding-bottom: 20px;
      }

      .truncate {
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 240px;
      }
    }
  }

  .btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .load {
    margin-top: 50px;
  }
}

@media (max-width: 1220px) {
  .wrapper {
    .users {
      justify-content: center;
      .user {
        max-width: 320px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1035px) {
  .wrapper {
    .users {
      .user {
        max-width: 344px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .wrapper {
    padding: 0 15px;
    .users {
      .title {
        font-size: 30px;
      }
    }
  }
}