/* Set a default font size using a CSS variable */
:root {
  --font-size: 16px;
}

.header {
  font-size: var(--font-size);
  background: #FFF;
  height: 60px;

  .wrapper {
    max-width: 1170px;
    width: 100%;
    padding: 17px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .buttonWrapper {
      display: flex;
      gap: 10px;
    }
  }
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
  .header {
    padding: 0 32px;
    font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .header {
    padding: 0 16px;

    .wrapper {
      gap: 14px;
    }
  }
}

