/* Reset styles for all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Reset styles for input and button elements */
input, button {
    outline: none;
    background: none;
    border: none;
}

/* Common styles for the body */
body {
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    font-family: 'Nunito';
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

/* Variables for font sizes and line heights */
:root {
    --title-font-size: 40px;
    --title-line-height: 40px;

    --main-font-size: 16px;
    --main-line-height: 26px;
}
